<h1>Editing student borrow</h1>

<%= render "form", student_borrow: @student_borrow %>

<br>

<div>
  <%= link_to "Show this student borrow", @student_borrow %> |
  <%= link_to "Back", student_borrows_path %>
</div>
